
<h4>Comment Maker:</h4>
<p> <%= comment.commenter %> </p>


<h4>Comment:</h4>
 <p><%= comment.body %></p>

<p>
  <%= link_to "Destroy Comment", [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" }  %>
</p>
